<ul class="social-media-list">
  <li><a href="https://github.com/StrikerX3" title="{{ site.github_username | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>StrikerX3</a></li>
  <li><a href="https://www.linkedin.com/in/ivan-oliveira" title="ivan-oliveira"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>ivan-oliveira</a></li>
  <li><a href="https://twitter.com/StrikerX3" title="StrikerX3"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>StrikerX3</a></li>
  <li><a href="https://www.youtube.com/StrikerX3" title="StrikerX3"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg>StrikerX3</a></li>
  <li><a href="https://patreon.com/StrikerX3" title="StrikerX3"><svg class="fab fa-patreon svg-icon grey"></svg>StrikerX3</a></li>
</ul>
